/* 
  Colour palette - Digital POP by Colorami
  http://www.colourlovers.com/palette/1924831/Digital_POP 
*/

$containerColour2: #daf2eb;
$containerColour: #c3eade;
$onlineColour: #EF8949;
$offlineColour: #049CB3;
$fontColour:  rgba(0,0,0,0.8);
$twitchBannerColour: #333E90;
$twitchPurple: #6441a5;
$red: #DC5661;
$containerWidth: 900px;
$cardWidth: $containerWidth - 60px;
$cardHeight: 130px;
$imgSize: $cardHeight - 10px;


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Slabo', serif;
    font-size: 16px;
    color: $fontColour;
}

.twitchHeader {
    color: $twitchPurple;
    font-size: 60px;
    font-family: Patua One, sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.streamcont {
    background-color: $containerColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $containerWidth;
    padding-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.2);
}

.card {
    display: flex;
    align-items: center;
    background-color: $onlineColour;
    color: $fontColour;
    width: $cardWidth;
    height: $cardHeight;
    margin: 5px;
    text-decoration: none;
    
    img {
	width: $imgSize;
	height: $imgSize;
	margin: 5px;
	margin-right: 10px;
    }

    .userDetails {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 10px;
    }

    .userName {
	font-family: Patua One, serif;
	font-size: 30px;
	margin-top: 3px;
    }

    .game {
	font-family: Patua One, serif;
	font-size: 18px;
    }
}

.card:hover {
    /*background-color: gray;*/
box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);

}


.offline {
    background-color: $offlineColour;
    
    p {
	width: 100%;
	font-size: 18px;
    }
}

.closed {
      background-color: gray;
    
    p {
	width: 100%;
	font-size: 18px;
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 6px -1px rgba(0,0,0,0.75);
    border: none;
    
    button {
	width: $cardWidth/3;
	height: 50px;
	border: none;
    }

    .allBtn {
	background-color: $red;
    }

    .onlineBtn {
	background-color: $onlineColour;
    }

    .offlineBtn {
	background-color: $offlineColour;
    }

    button:hover {
	box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.75);
	z-index: 10;
    }

    button:active {
	box-shadow: none;
    }
}

